body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,li,a{
  list-style: none;
  text-decoration: none;
}
p{
  margin: 0;
}


.text{
  display: inline-block;
  margin: 10px;
  font-weight: 500;
  color: black;
  font-size: 16px;
}

.text:hover{
   color: #2196f3;
}

.wrapper{
  display: flex;
  justify-content: space-between;
  width: 900px;
}

.wrapperImg{
  width: 300px;
  display: block;
  margin: 10px 50px 20px 0;
}

.wrapperButton{
    display: block;
      margin-top: 30px;
    width: 80px;
  box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
  padding: 10px;
  line-height: 1.25;
  background: #FC6E51;
  text-decoration: none;
  color: white;
  font-size: 10px;
  letter-spacing: .08em;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  transition: background-color .6s ease;
  overflow: hidden;
  border-radius: 5px;
  list-style: none;
  cursor: pointer;
  border: none;
}

.additionalInformation a {
  display: inline-block;
  text-decoration: none;
  padding: 5px;
  color: #2a363b;
  font-size: 16px;
}

.additionalInformation a.active {
  color: #2196f3;
}

.title {
  padding: 8px;
  margin-top: 0;
  border-radius: 8px;
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  background-image: repeating-linear-gradient(
    -45deg,
    #606dbc,
    #606dbc 15px,
    #465298 15px,
    #465298 30px
  );
}

.gallery__item--name{
    margin: 5px 0 10px 0;
    font-weight: 700;
}

.gallery__item{
    margin-bottom: 20px;
    font-size: 14px;
}

.reviews{
    font-size: 14px;
    margin-bottom: 50px;
}

.reviews__phrase{
    display: block;
    margin-bottom: 30px;
    min-height: 300px;
}

.review{
font-size: 16px;
font-weight: bold;
margin-bottom: 10px;
margin-top: 10px;
}